/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  /* Navigasyon */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  /* Makaleler */
  main {
    padding: 20px;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #777;
  }
  body {
  background-color: #cacaca;
}

#socialarea {
  position: fixed;
  left: 0;
  top: 30%;
  width: 40px;
  z-index: 9999;
}

#socialarea:hover {
  cursor: pointer;
}

#socialarea ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#socialarea li {
  text-align: center;
  width: 100%;
}

#socialarea li a {
  line-height: 30px;
  color: white;
}

#socialarea .facebook_social {
  background-color: #3a579a;
  transition: 400ms;
}

#socialarea .facebook_social:hover {
  background-color: #2b4071;
}

#socialarea .twitter_social {
  background-color: #00abf0;
  transition: 400ms;
}

#socialarea .twitter_social:hover {
  background-color: #0184b9;
}

#socialarea .googleplus_social {
  background-color: #df4a32;
  transition: 400ms;
}

#socialarea .googleplus_social:hover {
  background-color: #bc3e2a;
}

#socialarea .pinterest_social {
  background-color: #cd1c1f;
  transition: 400ms;
}

#socialarea .pinterest_social:hover {
  background-color: #b0171a;
}

#socialarea .linkedin_social {
  background-color: #127bb6;
  transition: 400ms;
}

#socialarea .linkedin_social:hover {
  background-color: #0c5680;
}

.arrow_social {
  opacity: 0;
  color: white;
  transition: 400ms;
}

.arrow_social:hover {
  color: white;
}

.btnopenclose {
  background-color: rgba(0, 0, 0, 0.6);
  width: 20px !important;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  opacity: 0;
  transition: 400ms;
}

#socialarea:hover .arrow_social,
#socialarea:hover .btnopenclose {
  opacity: 1;
}

.remove {
  left: -35px !important;
  position: relative;
  transition: 400ms;
}

.as_selected {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(180deg);
  opacity: 1;
  margin: initial;
}

.as_selected .arrow_social {
  opacity: 1;
  left: 0px;
  position: relative;
  color: white;
}
